.avatar-card {
  background-size: cover;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZujUIrupUH_6rTBnw9ikThSWJGqmgM94MNA&usqp=CAU");
}

.chapter-card {
  border: 55px !important;
  border-radius: 50px !important;
  border: 55px solid #000
}

